/* Estilos generales */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cecaca; /* Color de fondo */
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ff6b6b; /* Fondo blanco para resaltar el contenido */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #333; /* Borde sutil */
}

h1 {
    font-size: 2rem; /* Tamaño de fuente personalizado */
    margin-bottom: 20px;
    color: #333; /* Color del encabezado */
    text-align: center;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ff6b6b;
    background-color: #e1d0d0;
}

th, td {
    border: 1px solid #ff6b6b;
    width: 25%; /* Ancho igual para cada columna (25% para 4 columnas) */
    text-align: left;
    padding: 12px;
}

th {
    background-color: #ad4040;
    color: #261717;
}

tr:nth-child(even) {
    background-color:#e1d0d0;
}

/* Estilos para los botones */
button {
    background-color: #ad4040; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
    
}

button:hover {
    background-color: #ff4757; /* Color de fondo al pasar el mouse */
    transform: translateY(-3px); /* Efecto de elevación */
}
