
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #cecaca;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    background-color: #cecaca;
    color:  #333;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 10px #333(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 2rem; 
}

.container {
    background-color:#ff6b6b; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px #333(0, 0, 0, 0.1); 
    text-align: center;
}
h2 {
    color: #333; 
    font-size: 30px;
}

table, th, td {
    border: 1px solid #ff6b6b;
    background-color: #e1d0d0;
    margin: 30px auto;
}

th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #ad4040;
    color: #261717;
    
}

tr:nth-child(even) {
    background-color: #d3e0f1;
}

a.button {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #ff6b6b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.2s;
}

a.button:hover {
    background-color: #ff4757; /* Color de fondo más oscuro al hacer hover */
    transform: translateY(-3px); /* Elevar el botón al hacer hover */
}

.alert {
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px; 
}

.alert-success {
    color: #155724; /* Color de texto */
    background-color: #81dda7; /* Fondo verde */
    border-color: #03602a; /* Borde verde */
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da; 
    border-color: #f5c6cb; 
}
