body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 0;
    background-color: #cecaca;
}

.header {
    color: #333;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff6b6b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin: 10px 0 5px;
    color: #333;
}

h2 {
    color: #333;
}

select {
    padding: 12px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cecaca;
    color: rgb(33, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
}

select option {
    background-color: #cecaca;
    color: #333;
}

select:hover {
    background-color: #ff4757;
    transform: translateY(-2px);
}

button {
    background-color: #cecaca;
    color: #333;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ff4757;
    transform: translateY(-3px);
}

button:active {
    background-color: #ff6b6b;
    transform: translateY(0);
}

a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-top: 20px;
}

a:hover {
    color: #ff4757;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #e4e4e4;
    background-color: #0b912b;
    border-color: #03bf2f;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
