/* style.css - Código Mejorado */
body {
    background-color:#b5c6dc; /* Color de fondo más suave */
    color: #333; /* Color de texto más oscuro para mejor contraste */
    font-family: 'Arial', sans-serif; /* Fuente más moderna */
    margin: 0; /* Eliminar margen predeterminado */
    padding: 20px; /* Agregar relleno para evitar que el contenido toque los bordes */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem; /* Tamaño de fuente adaptable */
    margin-bottom: 0.5rem; /* Espaciado debajo del título */
}

button {
    background-color: #0056b3; /* Color de botón más profundo */
    color: white;
    border: 2px solid transparent; /* Agregar borde para efecto al hacer hover */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 10px 20px;
    margin: 10px; /* Aumentar margen para más espacio entre elementos */
    cursor: pointer;
    font-size: 1rem; /* Tamaño de fuente adaptable */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave para hover */
}

button:hover {
    background-color: white; /* Color de fondo al hacer hover */
    color: #0056b3; /* Color de texto al hacer hover */
    border-color: #0056b3; /* Color de borde al hacer hover */
}
