<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Transporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='funcion3.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>LogiPack</h1>
        </div>
    </header>
    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Seleccionar paquetes para su envío</h1>
        <form method="POST">
            <input type="hidden" name="id_sucursal" value="{{ id_sucursal }}">
            <table>
                <thead>
                    <tr>
                        <th>Seleccionar</th>
                        <th>Número de Envío</th>
                        <th>Dirección del Destinatario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paquete in paquetes %}
                        <tr>
                            <td><input type="checkbox" name="paquetes" value="{{ paquete.id }}"></td>
                            <td>{{ paquete.numeroenvio }}</td>
                            <td>{{ paquete.dirdestinatario }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Registrar Transporte</button>
        </form>
    </div>
</body>
</html>
