<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Paquete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='funcion2.css') }}">
</head>
<body>
    <form action="{{ url_for('funcion2') }}" method="post">
        <label for="sucursalId">Sucursal</label>
        <select name="idsucursal" id="sucursalId">
            {% for sucursal in sucursales %}
                <option value="{{ sucursal.id }}">{{ sucursal.provincia }} - {{ sucursal.direccion }}</option>
            {% endfor %}
        </select>
        <label for="peso">Peso</label>
        <input type="number" name="peso" id="peso" required>
        <label for="dirdestinatario">Dirección destinatario</label>
        <input type="text" name="dirdestinatario" id="dirdestinatario" required> 
        <label for="nomdestinatario">Nombre del destinatario</label>
        <input type="text" name="nomdestinatario" id="nomdestinatario" required>
        <label for="entregado">Entregado</label>
        <select name="entregado" id="entregado">
            <option value="0">No</option> 
            <option value="1">Si</option>
        </select>
        <label for="observaciones">Observaciones</label>
        <textarea name="observaciones" id="observaciones" rows="5" cols="50"></textarea>
        <label for="idRepartidor">ID Repartidor</label>
        <input type="number" name="idRepartidor" id="idRepartidor" required>
        <label for="idTransporte">ID Transporte</label>
        <input type="number" name="idTransporte" id="idTransporte" required>
        <button type="submit">Crear</button>
    </form>
</body>
</html>