<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Seleccione</h1>
    <form action="{{ url_for('index') }}" method="post">
        <button type="submit" name="role" value="despachante">Despachador</button>
        <button type="submit" name="role" value="repartidor">Repartidor</button>
    </form>
</body>
</html>