
<!DOCTYPE html>
<html>
    <head>
        <title>Crear Usuario</title>
        <link rel="stylesheet" href="C:\Users\lucas\OneDrive\Documents\Lucas\Facultad\POO\Unidad 5\static", filename="C:\Users\lucas\OneDrive\Documents\Lucas\Facultad\POO\Unidad 5\static\style.css">
    </head>
    <body>
        <h1>Nuevo Usuario</h1>
        <form action = "http://127.0.0.1:5000" method = "post">
        <label for = "nombre">Nombre</label><br>
        <input type = "text" name = "nombre" placeholder = "Nombre" /><br>
        <label for = "email">Correo Electrónico</label><br>
        <input type = "text" name = "email" placeholder = "email" /><br>
        <label for = "password">Contraseña</label><br>
        <input type = "password" name = "password" placeholder = "password"/>
        <br><br>
        <input type = "submit" value = "Guardar" />
        <br><br>
        </form>
    </body>
</html>