<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repartidor no encontrado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='repartidor.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>LogiPack</h1>
        </div>
    </header>
    <h1>La función del repartidor no está desarrollada</h1>
    <button class="boton" onclick="window.location.href='/'">Volver</button>

</body>
</html>